<div>
    <h2>Timesheets</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="timesheet.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Create new Timesheet
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weekStart"><span>WeekStart</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weekEnd"><span>WeekEnd</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userName"><span>UserName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="managerName"><span>ManagerName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="timesheet in timesheets track by timesheet.id">
                    <td><a ui-sref="timesheet.detail({id:timesheet.id})">{{timesheet.id}}</a></td>
                    <td>{{timesheet.weekStart | date:'medium'}}</td>
                    <td>{{timesheet.weekEnd | date:'medium'}}</td>
                    <td>{{timesheet.userName}}</td>
                    <td>{{timesheet.managerName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="timesheet.detail({id:timesheet.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="timesheet.edit({id:timesheet.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="timesheet.delete({id:timesheet.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
